Week 3 Activity 4

1. Write a python code to create a list Country with below countries and then
display the items in the list using a for loop.
Country= SOUTH AFRICA, NIGERIA, INDIA, UK, USA,
AUSTRALIA

2. Write a python code to display squares of 1 to 10. (Use for loop or while
loop)
For example:
Square of 1 =1, Square of 2 is 4, Square of 3 is 9....
So, output will be 1,4,9,16,25,36,49,64,81,100

3. Write a python code to display squares of 1 to n. (Use for loop or while
loop)
For example:
Square of 1 =1, Square of 2 is 4, Square of 3 is 9....
So, output will be 1,4,9,16,25,36,49,64,81, 100, ........n
2

4. Write a python code to display a multiplication table of any number.
[Hint: Read a number n. Use for loop or while loop to display below pattern
For example, n=4
4 * 1= 4
4 * 2 = 8
4 * 3 = 12
:
:
4 * 10 = 40

1. Write a python code to create a list Country with below countries and then display the items in the list using a for loop. Country= SOUTH AFRICA, NIGERIA, INDIA, UK, USA, AUSTRALIA

In [29]:
Country={"SOUTH AFRICA","NIGERIA","INDIA","UK","USA","AUSTRALIA"}

for i in Country:
    print(i)

AUSTRALIA
INDIA
USA
SOUTH AFRICA
UK
NIGERIA

In [30]:
x=Country

In [31]:
print(x)

{'AUSTRALIA', 'INDIA', 'USA', 'SOUTH AFRICA', 'UK', 'NIGERIA'}

In [36]:
for i range(3):
    print(i)

SyntaxError: invalid syntax (3040203257.py, line 1)

In [33]:
for i in range(1,3):
    print(i)

1
2

In [37]:
for i in range(1,3,8):
    print(i)

1

In [24]:
Country

{'AUSTRALIA', 'INDIA', 'NIGERIA', 'SOUTH AFRICA', 'UK', 'USA'}

In [26]:
h=Country.items()
print(h)

AttributeError: 'set' object has no attribute 'items'

In [27]:
Country.popitem()
print(Country)

AttributeError: 'set' object has no attribute 'popitem'

2. Write a python code to display squares of 1 to 10. (Use for loop or while
loop)
For example:
Square of 1 =1, Square of 2 is 4, Square of 3 is 9....
So, output will be 1,4,9,16,25,36,49,64,81,100

In [38]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [40]:
import math

a=1
s=math.sqrt(1)
print(s)

1.0

In [50]:
import math

a=2
s=math.sqrt(4)
print(s)

2.0

In [51]:
import math

a=3
s=math.sqrt(9)
print(s)

3.0

In [52]:
import math

a=4
s=math.sqrt(16)
print(s)

4.0

In [53]:
import math

a=5
s=math.sqrt(25)
print(s)

5.0

In [54]:
import math

a=6
s=math.sqrt(36)
print(s)

6.0

In [55]:
import math

a=7
s=math.sqrt(49)
print(s)

7.0

In [56]:
import math

a=8
s=math.sqrt(64)
print(s)

8.0

In [57]:
import math

a=9
s=math.sqrt(81)
print(s)

9.0

In [58]:
import math

a=10
s=math.sqrt(100)
print(s)

10.0

3. Write a python code to display squares of 1 to n. (Use for loop or while
loop)
For example:
Square of 1 =1, Square of 2 is 4, Square of 3 is 9....
So, output will be 1,4,9,16,25,36,49,64,81, 100, ........n
2

In [60]:
n=2**(1/1)
print(n)

2.0

In [63]:
n=2**(2/1)
print(n)

4.0

In [68]:
n=2**(3/1)
print(n)

8.0

In [69]:
n=2**(4/1)
print(n)

16.0

In [70]:
n=2**(5/1)
print(n)

32.0

In [71]:
n=2**(6/1)
print(n)

64.0

In [72]:
n=2**(7/1)
print(n)

128.0

In [73]:
n=2**(8/1)
print(n)

256.0

In [74]:
n=2**(9/1)
print(n)

512.0

In [77]:
n=2**(10/1)
print(n)

1024.0

4. Write a python code to display a multiplication table of any number.
[Hint: Read a number n. Use for loop or while loop to display below pattern
For example, n=4
4 * 1= 4
4 * 2 = 8
4 * 3 = 12
:
:
4 * 10 = 40

In [79]:
n=4*1
print(n)

4

In [80]:
n=4*2
print(n)

8

In [81]:
n=4*3
print(n)

12

In [82]:
n=4*4
print(n)

16

In [83]:
n=4*5
print(n)

20

In [84]:
n=4*6
print(n)

24

In [85]:
n=4*7
print(n)

28

In [86]:
n=4*8
print(n)

32

In [87]:
n=4*9
print(n)

36

In [88]:
n=4*10
print(n)

40