Activity
● Design a database to store and manipulate employee data.
● Create EMPLOYEE database and then create tables in it.
● Perform insert, update and delete operations on tables created in EMPLOYEE
database.

In [1]:
import sqlite3
conn=sqlite3.connect('cstd.db')
print("Opened database successfully")

Opened database successfully

In [2]:
conn.execute('''CREATE TABLE Employee_Department ( Employee_Number INT PRIMARY KEY NOT NULL, Name TEXT NOT NULL,Department INT NOT NULL);''')

print("Table 1 created successfully")

conn.execute("create table Employee_Info(Employee_no int primarykey not null,Name text not null,Address text not null,Mobile int not null,Date_of_Birth not null)")

print("Table 2 created successfully")

Table 1 created successfully
Table 2 created successfully

In [3]:
conn.execute("alter table Employee_info add Gender text not null")

In [4]:
conn.execute("drop table Employee_Info")

In [7]:
conn.execute("INSERT INTO Employee_Department(Employee_Number,Name,Department)VALUES(1,'John','Operations')");

In [10]:
conn.execute("INSERT INTO Employee_Department(Employee_Number,Name,Department)VALUES(21,'Chantal','QA')");

In [11]:
conn.execute("INSERT INTO Employee_Department(Employee_Number,Name,Department)VALUES(23,'Jan','IT')");

In [12]:
CURSOR=conn.execute("Select Employee_Number,Name,Department FROM Employee_Department")
for row in CURSOR:
    print("Employee_Number=",row[0])
    print("NAME=",row[1])
    print("Department=",row[2])

Employee_Number= 1
NAME= John
Department= Operations
Employee_Number= 21
NAME= Chantal
Department= QA
Employee_Number= 23
NAME= Jan
Department= IT

In [13]:
cursor = conn.cursor()

cursor.execute("SELECT * FROM Employee_Department")

print("fetchall:")

result = cursor.fetchall()

for r in result:
    
    print(r)

fetchall:
(1, 'John', 'Operations')
(21, 'Chantal', 'QA')
(23, 'Jan', 'IT')

In [14]:
cursor.execute("update Employee_Department set Name= 'Petrus' where Employee_Number=21")

cursor = conn.cursor()

cursor.execute("SELECT * FROM Employee_Department")

print("fetchall:")

result = cursor.fetchall()

for r in result:
    
    print(r)

fetchall:
(1, 'John', 'Operations')
(21, 'Petrus', 'QA')
(23, 'Jan', 'IT')