Activity
● Design a database to store and manipulate employee data.
● Create EMPLOYEE database and then create tables in it.
● Perform insert, update and delete operations on tables created in EMPLOYEE
database.

In [2]:
import sqlite3
conn=sqlite3.connect('cstd.db')
print("Opened database successfully")

Opened database successfully

In [4]:
conn.execute('''CREATE TABLE Employee_Department ( Employee_Number INT PRIMARY KEY NOT NULL, Name TEXT NOT NULL,Department INT NOT NULL);''')

print("Table 1 created successfully")

conn.execute("create table Employee_Info(Employee_no int primarykey not null,Name text not null,Address text not null,Mobile int not null,Date_of_Birth not null)")

print("Table 2 created successfully")

Table 1 created successfully
Table 2 created successfully

In [5]:
conn.execute("alter table Employee_info add Gender text not null")

In [6]:
conn.execute("drop table Employee_Info")

In [8]:
conn.execute("INSERT INTO Employee_Number(Employee_Number,Name,Departments)VALUES(1,'John',Operations)");

OperationalError: no such table: Employee_Number

In [9]:
conn.execute("INSERT INTO Employee_Number(Employee_Number,Name,Departments)VALUES(21,'Chantal',QA)");

OperationalError: no such table: Employee_Number

In [10]:
conn.execute("INSERT INTO Employee_Number(Employee_Number,Name,Departments)VALUES(23,'Jan',IT)");

OperationalError: no such table: Employee_Number

In [11]:
CURSOR=conn.execute("Select Employee_Number,Name,Department FROM Student_department")
for row in CURSOR:
    print("Employee_Number=",row[0])
    print("NAME=",row[1])
    print("Department=",row[2])

OperationalError: no such table: Student_department

In [12]:
cursor = conn.cursor()

cursor.execute("SELECT * FROM Employee_Department")

print("fetchall:")

result = cursor.fetchall()

for r in result:
    
    print(r)

fetchall:

In [14]:
cursor.execute("update Employee_Department set Name= 'Petrus' where Employee_Number")

cursor = conn.cursor()

cursor.execute("SELECT * FROM Employee_Department")

print("fetchall:")

result = cursor.fetchall()

for r in result:
    
    print(r)

fetchall: